@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap");

.f1 {
  font-family: "Jua", sans-serif;
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  text-shadow: 5px 5px 5px lightblue;
  letter-spacing: 0.3em;
  word-spacing: 2em;
  line-height: 10;
}
.f2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}
.f3 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
